#legend {
    margin-right: 45px;
    top: 403px;
    float: right;
    font-family: Arial, sans-serif;
    text-align: center;
}

.legend strong {
    text-align: center;
}

.legend label, .legend span {
    display: block;
    float: left;
    height: 17px;
    width: 34px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #181515;
}

.table-title {
    clear: both;
    font-family: Arial, sans-serif;
    margin-top:40px;
}

.extra-data {
    clear: both;
    margin-top: 90px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#container {
    width: 700px;
    position: relative;
}

#maptitle {
    font-size: 26px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.legend-class {
    background-color: rgba(0,0,0,0);
}

#vmap {
    width: 700px; 
    height: 400px; 
    position: relative; 
    overflow: hidden; 
}
